.tabla-consulta {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabla-consulta th,
.tabla-consulta td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-consulta th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.tabla-consulta tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-consulta tr:hover {
    background-color: #ddd;
}

.tabla-consulta .cabecera-tabla {
    background-color: #4CAF50;
    color: white;
}

.tabla-consulta .cuerpo-tabla {
    color: #333;
}