<!-- <ul>
    @for (cliente of listaClientes; track cliente.id) {
        <li>Nombre: {{cliente.nombre}} - Apellido: {{cliente.apellido}}</li>
    }
</ul> -->

<button class="btn btn-primary" type="button" (click)="pintar()">Pintar clientes</button>



<!-- <button (click)="mostrar = true">Mostrar consulta</button> -->
<!-- 

<table class="tabla-consulta">
    <tr class="cabecera-tabla">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Promotor</th>
        <th>Entidad</th>
        <th>Aportaciones</th>
    </tr>
    
    
    @if (mostrar == true) {
        @for (cliente of clientes; track cliente.id) {
            <tr class="cuerpo-tabla">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.promotor}}</td>
                <td>{{cliente.entidad}}</td>
                <td>{{cliente.mensual}}</td>
            </tr>
        }    
    }
</table> -->
