.lista-clientes {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.lista-clientes li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Borde superior en los elementos de la lista */
    background-color: #f6f6f6;
    padding: 12px;
    text-align: center;
}

.lista-clientes li:hover {
    background-color: #ddd;
}

#pagina {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
button{
    margin: 20px;
}
#mostrar{
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.486);
    margin: 30px;
}